{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <title>Document</title>
</head>
<body id="bg" style="background-image: url('{% static "images/img4.jpg"%}');">
    <!-- <img src="{%static 'images/img4.jpg'%}" alt=""> -->
    <header class="main-header_2">
        <div class="header-nav">
            <a href="#" class="logo link">CONTACT</a>
            <nav class="main-nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="http://127.0.0.1:8000/" class="nav-link link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://127.0.0.1:8000/about/" class="nav-link link">About us</a>
                    </li>
                    <li class="nav-item">
                        <a href="file:///C:/Users/91985/Downloads/vs%20mp/contact.html" class="nav-link link">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.ayuryoga-ashram.com/blog/" class="nav-link link">Blogs</a>
                    </li>
                    
                </ul>
            </nav>
            <div class="hero-content">
                <h1 class="main-heading">yogahealthcare@gmail.com
                    
                    
                    
                    
                     <span class="main-heading-focus"><br>9770829770, <br> 9866213770 <br> Antop Hill,
                         <br> Mumbai East <br> Mumbai 400037, India</span> </h1>
                <p class="sub-heading"></p>
                
            </div>
</body>
</html>            