{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="bg" style="background-image: url('{% static "images/img5.jpg"%}');"> 
    <!-- <img src="{%static 'images/img2.jpg'%}" alt=""> -->
    <header class="main-header_3">
        <div class="header-nav">
            <a href="http://127.0.0.1:8000/" class="logo link">YOGA HEALTHCARE</a>
            <nav class="main-nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="http://127.0.0.1:8000/" class="nav-link link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://127.0.0.1:8000/about/" class="nav-link link">About us</a>
                    </li>
                    <li class="nav-item">
                        <a href="http://127.0.0.1:8000/contact/" class="nav-link link">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.ayuryoga-ashram.com/blog/" class="nav-link link">Blogs</a>
                    </li>
                    
                </ul>
            </nav>
        </div> 
        <div class="hero-content">
            <h1 class="main-heading">"WELCOME USER <span class="main-heading-focus">, <br> Towards the journey, <br> of
                    Yoga, <br> Explore Deep in Your <br> Own Self,”</span> </h1>
            <p class="sub-heading"></p>
        </div>
    </header>  
    <main class="main-container">
        <div class="card-container">
            <p class="main-card-title">Some Important Yoga Poses With Benifits</p>
            <div class="card-content">
                <div class="card">
                    <div class="card-img-container">
                        <img src="img/yoga-pose-1.png" alt="" class="card-img">
                        <div class="card-info">
                            <ul class="card-info-list">
                                <li class="card-info-item">• It strengthens your shoulder, back, arms, and legs strong.</li>
                                <li class="card-info-item">• It helps to improve balance.</li>
                                <li class="card-info-item">• It helps to improve digestion.</li>
                                <li class="card-info-item">• It helps to improve metabolism.</li>
                                <li class="card-info-item">• It helps in stretching the abdomen, thighs and groin.</li>
                            </ul>
                        </div>
                    </div>
                    <p class="card-title">NATRAJASANA <span class="card-span">(Lord of The Dance Pose)</span></p>
                </div>

                <div class="card">
                    <div class="card-img-container">
                        <img src="img/yoga-pose-2.png" alt="" class="card-img">
                        <div class="card-info">
                            <ul class="card-info-list">
                                <li class="card-info-item">Strengthens the back and abdominal muscles.</li>
                                <li class="card-info-item">Stimulates the reproductive organs.</li>
                                <li class="card-info-item">Tones the leg and arm muscles.</li>
                                <li class="card-info-item">Alleviates stress and fatigue.</li>
                                <li class="card-info-item">Helps people with renal (kidney) disorders.</li>
                            </ul>
                        </div>
                    </div>
                    <p class="card-title">DHANURASANA <span class="card-span">(Bow Pose)</span></p>
                </div>
                <div class="card">
                    <div class="card-img-container">
                        <img src="img/yoga-pose-3.png" alt="" class="card-img">
                        <div class="card-info">
                            <ul class="card-info-list">
                                <li class="card-info-item"> •Opens up the shoulders and neck to relieve pain.</li>
                                <li class="card-info-item"> •Tones the abdomen.</li>
                                <li class="card-info-item"> •Improves flexibility of the upper and middle back.</li>
                                <li class="card-info-item"> •Expands the chest.</li>
                                <li class="card-info-item"> •Useful for people with respiratory disorders such as asthma.</li>
                            </ul>
                        </div>
                    </div>
                    <p class="card-title">BHUJANGASANA <span class="card-span">(Cobra Pose)</span></p>
                </div>
            </div>
        </div>

        <div class="banner-container">
            <div class="banner-img-container">
                <img src="img/banner-img-1.jpg" alt="" class="banner-img">
            </div>
            <div class="banner-content-container">
                <div class="banner-content">
                    <h3 class="banner-title">Natural Environment Yoga</h3>
                    <p class="banner-desc">
                        Yoga’s connection with nature and its concern for the environment is easily obscured,
                        if not lost, in the modern Yoga movement and its urban and commercial orientation. 
                        Such a Yoga of nature is hard to fit into our modern hectic life-styles that have 
                        little time or space for something sacred to unfold of its own accord, though this 
                        is the real movement of Yoga.
                        It’s motivating:
                        When your alarm goes off at 5.30am for that 6am class, you’re going to want to press snooze. 
                        But we’ve all been stood up before and that’s a horrible feeling. So when you know
                        your yoga companion is waiting for you at the studio, you’re going to get your a** out of bed 
                        and make it to the mat more often.In 1982 Japan launched a national health program centered 
                        around forest bathing or what they called ‘Shinrin-Yoku” (taking in the forest atmosphere).  
                        Since then, they’ve been researching the mental and physical health benefits of soaking in 
                        nature and forest energy in particular.  Studies have shown that spending time amongst trees 
                        and greenery is not only great for our mental health, it also causes a major boost in our immune system. 
                        Forest bathing can increase the count of natural killer cells (NK) in the body.These cells are 
                        essential for immunity and help prevent infections from progressing.  Breathing in forest air and mindfully 
                        visiting amongst the trees has also shown to lower stress hormones such as cortisol. Since yoga practice merges
                        mindfulness with movement and breathwork, it is the perfect adjunct to forest bathing.A regular practice in nature
                        can really serve as preventative medicine. 

                        See more at: https://motherhoodcommunity.com/nature-yoga/

It’s good for the soul and the body

When you have someone who is going through the same experience as you (whatever that is) your bond deepens. Whether you were best friends when you starting going to yoga together or not, you’re going to find yourself getting close to this person as they support you and you support them. Having like-minded people around you who understand your struggles is so important for a happy and healthy life. Plus they’ve found that exercising with a friend actually produces more serotonin, literally making you both happier.
                    </p>
                    <a href="https://www.pexels.com/search/videos/yoga%20nature/" class="banner-cta link">Learn More</a>
                </div>
            </div>
        </div>

        <div class="banner-container">
            <div class="banner-content-container">
                <div class="banner-content">
                    <h3 class="banner-title">Friendly Environment Yoga</h3>
                    <p class="banner-desc">
                        Social scientists say that it's harder to make friends as adults. 
                        But Neal Pollack has found that yoga has filled his life with many true friendships.
                        You don’t need us to tell you that doing things with friends is fun. When you have 
                        company for something that you would have enjoyed by yourself as well, it’s double the fun, 
                        because you get to share it with someone you care for. When it’s something you don’t quite 
                        feel comfortable doing for whatever reason, co-opting a friend will make it fun. This is why 
                        we, should decide to go to a wine and face yoga workshop together.First things first, starting
                        anything in life is a task. However, we decide so many things but only half of them are achieved.
                        And yoga is one amongst them. We all need some level of encouragement and support to start yoga. 
                        Yoga in a group is the best way to give it a kick start.Another benefit of doing yoga with a group
                        is the level of motivation one gets while doing practicing in a group is beyond words. We all 
                        start yoga classes or any physical activity with a goal, like: to lose weight, to have a perfect
                        body, to have a healthy body, etc. More often than not, beginners distract from their goals easily or 
                        start getting bored with the same routine doing alone. But practicing together and seeing others
                        achieving desired results, makes it easy for one to feel motivated about his/her goals and the outcomes.
                        Yoga involves a lot of stretching and twisting; some yoga poses can be tough or may be a little complicated for beginners. 
                        To come with ease with all the yoga poses takes time! Sometimes beginners lose confidence when they are not able to 
                        perform those poses properly. But performing yoga with a group helps people develop confidence. Of course, when they see 
                        others also managing to perform those poses, they feel confident on not being able to do a particular pose.When one practices 
                        yoga with a group, he/she starts to develop a sense of competition to achieve more and better. Yeah, seeing others performing better 
                        on a daily basis helps develop a sense of competition in one that encourage the person to perform more. For instance, in the
                        beginning one can only perform 3-5 rounds of Surya Namaskara, but gradually with practice one can take it up to 50 rounds even more. 
                        When you see others in a group doing more rounds of any yoga pose(s), the desire to compete comes automatically. 
                    </p>
                    <a href="https://www.pexels.com/search/videos/yoga%20with%20friends/" class="banner-cta link">Learn More</a>
                </div>
            </div>
            <div class="banner-img-container">
                <img src="img/banner-img-2.jpg" alt="" class="banner-img">
            </div>
        </div>
        <div class="banner-container">
            <div class="banner-content-container">
                <div class="banner-content">
                    <h3 class="banner-title">For Pregnant Women</h3>
                    <p class="banner-desc">
                        Much like other types of childbirth-preparation classes, prenatal yoga 
                        is a multifaceted approach to exercise that encourages stretching, mental 
                        centering and focused breathing. Research suggests that prenatal yoga is safe 
                        and can have many benefits for pregnant women and their babies.
                        Prenatal yoga can be a great way to prepare for childbirth:
                        If you're pregnant and looking for ways to relax or stay fit, you might be considering 
                        prenatal yoga.Much like other types of childbirth-preparation classes, prenatal yoga is a multifaceted 
                        approach to exercise that encourages stretching, mental centering and focused breathing. 
                        Research suggests that prenatal yoga is safe and can have many benefits for pregnant 
                        women and their babies.Prenatal yoga "tones the physical body, especially the pelvic floor, hip, and 
                        abdominal core muscles, in preparation for the birthing process," says Liz Owen, a Boston-based yoga teacher
                        and the co-author of Yoga for a Healthy Lower Back: A Practical Guide to Developing Strength and Relieving Pain. 
                        A properly toned muscle has the right balance between length and strength – it is neither too lax nor too tight. 
                        Building and maintaining muscle tone during pregnancy, with yoga poses like lunges and gentle backbends, can help 
                        minimize the aches and pains of those nine months, and are key in bringing your body back to a toned condition after
                        delivery, Owen says.A top priority in Austin's prenatal yoga classes is teaching women "they can trust that their bodies
                         will open" up to labor and birth. "When we're afraid, we tighten up," she says, and that tightening leads to what she calls 
                         a "fear-tension-pain cycle." This can sabotage a woman's efforts to remain present and calm in labor, especially if she 
                         hopes to experience childbirth with minimal or no pain medication. Working to connect with yogic methods of deep, mindful 
                         breathing can help the body loosen and relax, and help women get to a "mammalian place," Austin says, where they can let 
                         their bodies do what they instinctively already know how to do: give birth.
                    </p>
                    <a href="https://www.pexels.com/search/videos/yoga%20for%20pregnancy%20woman/" class="banner-cta link">Learn More</a>
                </div>
            </div>
            <div class="banner-img-container">
                <img src="img/banner-img-3.jpg" alt="" class="banner-img">
            </div>
        </div>
        <div class="banner-container">
            <div class="banner-content-container">
                <div class="banner-content">
                    <h3 class="banner-title">For Weight Loss</h3>
                    <p class="banner-desc">
                        The development of yoga has benefited many people in losing weight in a healthy way. 
                        Yoga for weight loss is a debatable topic. Many people believe that Yoga alone does 
                        not promote weight loss. Yoga, when combined with healthy eating, has proven 
                        beneficial as it helps to lose weight along with keeping your mind and body healthy. 
                        Yoga increases your mindfulness and how you relate to your body. 
                        You will start seeking out food that is healthy instead of binging on food that can 
                        increase your fat accumulation.
                        There are many ways to combat excess weight, but there is no single solution. If you 
                        are trying to lose or maintain your weight, you may want to try yoga. There is good research 
                        that yoga may help you manage stress, improve your mood, curb emotional eating, and create a 
                        community of support, all of which can help with weight loss and maintenance.
                        Yoga can also help you burn calories, as well as increase your muscle mass and tone.
                        Yoga may reduce joint pain, which in turn allows you to exercise more and increase your daily activities. 
                        These are only some of the many benefits of yoga.Most of us who crave ice cream after 9 pm or can't stop 
                        eating potato chips know that these behaviors hurt our chances of losing weight. We all know that eating vegetables, 
                        whole grains, lean protein, etc. is good for our health and weight. While this knowledge is necessary, it seems
                        insufficient to help us stick to our healthy eating plans.One of yoga's benefits is that it improves mindfulness 
                        of the body and awareness of body sensations. This is why yoga is called "moving meditation." Research shows that
                        you don’t have to do any formal sitting meditation to get the mindfulness benefits of yoga.By improving mindfulness, 
                        yoga decreases emotional eating, stress eating, and binge eating. These habits sabotage our weight loss efforts 
                        and can cause a negative spiral of guilt and shame, which often leads to giving up.A study published in 2015 
                        showed that practicing yoga led to healthier eating, including lower fat intake and an increase in vegetables 
                        and whole grains.
                         
                         The bottom line: the best diet plan is the one that you can stick with over the long term, and by improving mindfulness, yoga can help you make healthier food choices.
                    </p>
                    <a href="https://www.pexels.com/search/videos/yoga%20weight%20loss/" class="banner-cta link">Learn More</a>
                </div>
            </div>
            <div class="banner-img-container">
                <img src="img/banner-img-4.jpg" alt="" class="banner-img">
            </div>
        </div>

        <div class="contact-container">
            <div class="contact-info-container">
                <table class="contact-info">
                    <tr>
                        <td><i class="fas fa-envelope"></i></td>
                        <td>yogahealthcare@gmail.com</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-phone-alt"></i></td>
                        <td>9770829770 <br> 9866213770</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-map-marker-alt"></i></td>
                        <td>Antop Hill, <br> Mumbai East <br> Mumbai 400037, India</td>
                    </tr>
                </table>
            </div>
            
                    </div>
                </form>
            </div>
        </div>

        <div class="testimonial-container">
            <div class="testimonials">
                <div class="slide-btn">
                    <div class="btn bg" id="btn-1"></div>
                    <div class="btn" id="btn-2"></div>
                    <div class="btn" id="btn-3"></div>
                </div>
                <div class="user-container" id="user-1">
                    <div class="user-img-container">
                        <img src="img/testimonials-1.jpg" alt="" class="user-img">
                    </div>
                    <div class="user-info">
                        <p class="user-name">Guru Swami Ramdev Baba</p>
                        <p class="user-message">“If you can control the rising of the mind into ripples, you will experience Yoga.”</p>
                    </div>
                </div>
                <div class="user-container" id="user-2">
                    <div class="user-img-container">
                        <img src="img/testimonials-2.jpg" alt="" class="user-img">
                    </div>
                    <div class="user-info">
                        <p class="user-name">Tirumalai Krishnamacharya</p>
                        <p class="user-message">"Master your breath, let the self be in bliss, contemplate on the sublime within you...."</p>
                    </div>
                </div>
                <div class="user-container" id="user-3">
                    <div class="user-img-container">
                        <img src="img/testimonials-3.jpg" alt="" class="user-img">
                    </div>
                    <div class="user-info">
                        <p class="user-name">Maharishi Mahesh Yogi</p>
                        <p class="user-message">“Happiness radiates like the fragrance from a flower, and draws all good things toward you."</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="news-letter">
            
            <form action="#" class="news-letter-form">
                
            </form>
        </div>
        <div class="footer-border"></div>
        <div class="footer-content-container">
            <div class="footer-content">
                <a href="#" class="link footer-logo">yoga</a>
                <p class="company-desc">If you have any doubt about our yoga related issues 
                    or any problems from your point of view which we can improve please contact
                     or email us.</p>
                <table class="footer-contact-info">
                    <tr>
                        <td><i class="fas fa-envelope"></i></td>
                        <td>yogahealthcare@gmail.com</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-phone-alt"></i></td>
                        <td>9770829770 <br> 9866213770</td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-map-marker-alt"></i></td>
                        <td>Antop Hill, <br> Mumbai East <br> Mumbai 400037, India</td>
                    </tr>
                </table>
            </div>
            <div class="footer-nav-container">
                <p class="footer-title">Useful Links</p>
                <nav class="footer-nav">
                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link link">Home</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="http://127.0.0.1:8000/about/" class="footer-nav-link link">About us</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="http://127.0.0.1:8000/contact/" class="footer-nav-link link">Contact us</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="https://www.ayuryoga-ashram.com/blog/" class="footer-nav-link link">Blogs</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="latest-post-container">
                <p class="footer-title">Latest Post</p>
                <a class="latest-post link" href="https://www.pexels.com/search/videos/yoga%20nature/">
                    <div class="latest-post-img-container">
                        <img src="img/banner-img-1.jpg" alt="" class="latest-post-img">
                    </div>
                    <div class="latest-post-content">
                        <p class="latest-post-title">Your recent activity1.</p>
                        <p class="latest-post-desc">Natural Environment Study
                        </p>
                    </div>
                </a>
                <a class="latest-post link" href="file:///C:/Users/91985/Downloads/vs%20mp/New%20folder/Video-Gallery-main2/index.html">
                    <div class="latest-post-img-container">
                        <img src="img/banner-img-2.jpg" alt="" class="latest-post-img">
                    </div>
                    <div class="latest-post-content">
                        <p class="latest-post-title">Your recent activity2.</p>
                        <p class="latest-post-desc">Friendly Environment Study
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="social-nav-container">
            <ul class="social-nav-list">
                <li class="social-nav-item">
                    <a href="https://www.facebook.com/pages/category/Medical---Health/Yoga-And-Health-Care-1002423996586274/" class="link social-link">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li class="social-nav-item">
                    <a href="https://www.instagram.com/yogainhealthcare/" class="link social-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="social-nav-item">
                    <a href="https://twitter.com/yogainhealth" class="link social-link">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </li>
                <li class="social-nav-item">
                    <a href="https://www.youtube.com/channel/UCHkOhacXovgGqo29zBCixcQ" class="link social-link">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <p class="copy-text">Copyright &copy;2022 Non Degree Programmer All Rights Reserved</p>
        </div>
    </footer>
    <script src="main.js"></script>
</body>
</html>